/* Must have @use before any other rules/comments that produce CSS output */
@use './app/app' as *;

/* global tweaks */
html, body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* you can keep any other global rules below */
